exportPattern("^[[:alpha:]]+")
export(read_and_prepare_data)
export(merge_data)
export(process_achats)
export(merge_ehcvm)
export(merge_ansd)
export(calculate_means)
import(haven)
import(readxl)
import(dplyr)
